stages:
  - test
  - build
  - prepare-release
  - release

###
#
# Always run unittest
#
###
unittests:
  stage: test
  image:
    name: python:3.13-alpine
  before_script:
    - apk add build-base linux-headers && pip3 install -U pip && pip3 install -r ${CI_PROJECT_DIR}/devel/requirements_pip.txt
  script:
    - cd ${CI_PROJECT_DIR}/project && pytest -c tests/pytest.ini
  rules:
    - if: '$CI_COMMIT_MESSAGE !~ /^Add changelog for version.*/'


###
#
# Creates an ubuntu based devel image, which can be used to debug the current Outpost version via VSCode
#
###

build-devel:
  stage: build
  image: moby/buildkit:latest
  variables:
    CACHE_IMAGE: "$CI_REGISTRY_IMAGE:buildcachedevel"
  script:
    # Authenticate to your registry
    - mkdir -p ~/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > ~/.docker/config.json
    - buildkitd &
    - sleep 5
    - buildctl build --frontend dockerfile.v0 --export-cache type=registry,ref=$CACHE_IMAGE,mode=max --import-cache type=registry,ref=$CACHE_IMAGE --local context=${CI_PROJECT_DIR} --local dockerfile=${CI_PROJECT_DIR}/devel/ --output type=image,name=${CI_REGISTRY_IMAGE}:devel,push=true --output type=image,name=${CI_REGISTRY_IMAGE}:devel${CI_COMMIT_SHORT_SHA},push=true
  rules:
    - when: manual
  allow_failure: true

###
#
# Create docker image at hub.docker.com for all releases
#
###

build-tag-docker:
  stage: build
  image: moby/buildkit:latest
  script:
    - mkdir -p ~/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY_DOCKERHUB}\":{\"username\":\"${CI_REGISTRY_DOCKERHUB_USER}\",\"password\":\"${CI_REGISTRY_DOCKERHUB_PASSWORD}\"}}}" > ~/.docker/config.json
    - buildkitd &
    - sleep 5
    - sed -i -e "s/<VERSION>/${CI_COMMIT_TAG} (${CI_COMMIT_SHORT_SHA})/g" ${CI_PROJECT_DIR}/project/app/spawner/outpost.py
    - buildctl build --frontend dockerfile.v0 --local context=${CI_PROJECT_DIR} --local dockerfile=${CI_PROJECT_DIR}/project/ --output type=image,name=${CI_REGISTRY_DOCKERHUB_BASEIMAGE}/${CI_PROJECT_NAME}:${CI_COMMIT_TAG},push=true --output type=image,name=${CI_REGISTRY_DOCKERHUB_BASEIMAGE}/${CI_PROJECT_NAME}:latest,push=true
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'

###
#
# Create docker image for any other tags on gitlab private registry
#
###

build-tag:
  stage: build
  image: moby/buildkit:latest
  variables:
    CACHE_IMAGE: "$CI_REGISTRY_IMAGE:buildcachedevel"
  script:
    - mkdir -p ~/.docker
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > ~/.docker/config.json
    - buildkitd &
    - sleep 5
    - sed -i -e "s/<VERSION>/${CI_COMMIT_TAG} (${CI_COMMIT_SHORT_SHA})/g" ${CI_PROJECT_DIR}/project/app/spawner/outpost.py
    - buildctl build --frontend dockerfile.v0 --export-cache type=registry,ref=$CACHE_IMAGE,mode=max --import-cache type=registry,ref=$CACHE_IMAGE --local context=${CI_PROJECT_DIR} --local dockerfile=${CI_PROJECT_DIR}/project/ --output type=image,name=${CI_REGISTRY_IMAGE}:${CI_COMMIT_TAG},push=true --output type=image,name=${CI_REGISTRY_IMAGE}:latest,push=true
  rules:
    - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+(-.+)$/'

###
#
# Prepare release notes
#
###

prepare_job:
  stage: prepare-release
  image: alpine:latest
  rules:
  - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
  script:
    - apk add curl jq
    - 'curl -H "PRIVATE-TOKEN: $CI_API_TOKEN" "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/changelog?version=$CI_COMMIT_TAG" | jq -r .notes > release_notes.md'
    - 'curl -H "PRIVATE-TOKEN: $CI_API_TOKEN" -X POST "$CI_API_V4_URL/projects/$CI_PROJECT_ID/repository/changelog?version=$CI_COMMIT_TAG"'
  artifacts:
    paths:
    - release_notes.md

###
#
# Create release
#
###

release_job:
  stage: release
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  needs:
    - job: prepare_job
      artifacts: true
  rules:
  - if: '$CI_COMMIT_TAG =~ /^\d+\.\d+\.\d+$/'
  script:
    - echo "Creating release"
  release:
    name: 'Release $CI_COMMIT_TAG'
    description: release_notes.md
    tag_name: '$CI_COMMIT_TAG'
    ref: '$CI_COMMIT_SHA'
    assets:
      links:
        - name: 'Container Image $CI_COMMIT_TAG'
          url: "https://hub.docker.com/r/jupyterjsc/jupyterhub-outpost/tags?page=&page_size=&ordering=&name=${CI_COMMIT_TAG}"
