COMPOSE_PROJECT_NAME=my_hub
POSTGRES_DB=hubdb
POSTGRES_USER=outpost
POSTGRES_PASSWORD=__POSTGRESPASSWORD__
OUTPOST_CRYPT_KEY=__OUTPOSTCRYPTKEY__
passwords=__OUTPOSTPASSWORDS__
usernames=__OUTPOSTUSERNAMES__
