bash=5.3.3-r1
busybox-extras=1.37.0-r30
brotli-libs=1.2.0-r0
c-ares=1.34.6-r0
libunistring=1.4.1-r0
libidn2=2.3.8-r0
nghttp2-libs=1.68.0-r0
nghttp3=1.13.1-r0
libpsl=0.21.5-r3
libcurl=8.17.0-r1
curl=8.17.0-r1
linux-headers=6.16.12-r0
mailcap=2.1.54-r0
mii-tool=2.10-r3
net-tools=2.10-r3
openssh-keygen=10.2_p1-r0
libedit=20251016.3.1-r0
openssh-client-common=10.2_p1-r0
openssh-client-default=10.2_p1-r0
openssh-sftp-server=10.2_p1-r0
openssh-server-common=10.2_p1-r0
openssh-server=10.2_p1-r0
openssh=10.2_p1-r0
pkgconf=2.5.1-r0
openssl-dev=3.5.5-r0
libpcre16=8.45-r4
libpcre32=8.45-r4
pcre=8.45-r4
libpcrecpp=8.45-r4
pcre-dev=8.45-r4
postgresql-common=1.2-r2
lz4-libs=1.10.0-r0
libpq=18.2-r0
postgresql18-client=18.2-r0
uuidgen=2.41.2-r0
