fastapi==0.109.0
gunicorn==21.2.0
jupyterhub==4.0.2
jupyterhub-kubespawner==6.2.0
jupyter-core==5.7.1
jupyter-server==2.12.4
jsonformatter==0.3.2
kubernetes==28.1.0
passlib==1.7.4
psycopg2-binary==2.9.9
python-multipart==0.0.6
sqlalchemy==2.0.25
traitlets==5.14.1
uvicorn==0.25.0
