fastapi==0.97.0
gunicorn==21.2.0
jupyterhub==4.0.1
jupyterhub-kubespawner==6.0.0
jupyter-core==5.3.1
jupyter-server==2.7.2
jsonformatter==0.3.2
kubernetes==28.1.0
passlib==1.7.4
psycopg2-binary==2.9.7
python-multipart==0.0.6
sqlalchemy==2.0.16
traitlets==5.9.0
uvicorn==0.22.0
