fastapi==0.111.0
gunicorn==22.0.0
jupyterhub==4.1.5
jupyterhub-kubespawner==6.2.0
jupyter-core==5.7.2
jupyter-server==2.14.1
jsonformatter==0.3.2
kubernetes==28.1.0
passlib==1.7.4
psycopg2-binary=2.9.10
python-multipart==0.0.9
sqlalchemy==2.0.31
traitlets==5.14.3
uvicorn==0.30.1
